In [2]:
#creating a set
x=(2,34,34)
y=[2334,3,45,234,6,3]
print(set(x))
print(set(y))

{2, 34}
{3, 6, 234, 45, 2334}

In [11]:
#iterating over the sets
s={232,234,54,4343,3}
for i in s:
    print(i, end=' ')

3 54 4343 232 234

In [14]:
#addition the members of the set if all are integers
print(sum(s))

4866

In [25]:
#addition of new members and also removal in different ways
s=set()
print(s)
s.add('item')
print(s)
s.update('adf','adf')
print(s)
s.pop() #pop removes first member of the set
print(s)
s.discard('item') #discard removes selected item
print(s)

set()
{'item'}
{'a', 'd', 'f', 'item'}
{'d', 'f', 'item'}
{'d', 'f'}

In [32]:
#intersection of two sets
s1={1,34,35,2}
s2={3,1,34,36}
print(s1.intersection(s2))
#or
print(s1 & s2)

{1, 34}
{1, 34}

In [37]:
#Union of two sets
s1={1,34,35,2}
s2={3,1,34,36}
print(s1.union(s2))

{1, 2, 35, 34, 3, 36}

In [29]:
#difference of two sets
s1={1,34,35,2}
s2={3,1,34,36}
print(s1.difference(s2))
print(s2.difference(s1))

{2, 35}
{3, 36}

In [38]:
#symmetric difference
s1={1,34,35,2}
s2={3,1,34,36}
print(s1.symmetric_difference(s2))
print(s1)

{2, 3, 36, 35}

In [45]:
#checking the subset
x={1}
s1={1,34,35,2}
s2={3,1,34,36}
print(x.issubset(s1))
print(s1.issubset(s2))

True
False

In [46]:
#shallow copy of the object
s1={1,34,35,2}
s2={3,1,34,36}
s3=s1.copy()
print(s3)

{1, 2, 35, 34}

In [50]:
#removing all the members of the given set
s1={1,34,35,2}
s2={3,1,34,36}
s3=s1.clear()
print(s3)

None

In [53]:
#frozen sets(they are immutable)
s1={1,34,35,2}
s1=frozenset(s1)
s2={3,1,34,36}
s3=s1.isdisjoint(s2) #no elements should be in common
print(s3)

False

In [56]:
#finding the maximum, minimum and length of sets
s1={1,34,35,2}
s2={3,1,34,36}
print(max(s1))
print(min(s2))
print(len(s1))

35
1
4

In [59]:
#checking the item is present in set or not
s1={1,34,35,2}
s2={3,1,34,36}
print(34 in s1)
print(10 in s2)

True
False

In [62]:
#super set
s1={1,34,35,2}
s2={3,1,34,36}
print(s1.issuperset(s1))

True

In [75]:
#removing the intersection of second set with the first set
s1={1,34,35,2}
s2={3,1,34,36}
s1.intersection_update(s2)
print(s1)
s2.intersection_update(s1)
print(s2)

{1, 34}
{1, 34}

In [81]:
#word counting
x=['2234','2342','red','green','red','red','red','green']
m={}
for i in x:
    m[i]=x.count(i)
print(m)

{'2234': 1, '2342': 1, 'red': 4, 'green': 2}

In [82]:
min_length = min([len(word) for word in ['pqrefg','pqrefsdf']])
print(min_length)

6

In [1]:
#finding the third largest number in the given list
k=[1,2,3,4,5,6,7,345,233,1]
k=sorted(k)
print(k[-3])

7

In [3]:
import os,sys,platform
print(platform.architecture())

('64bit', 'WindowsPE')

In [4]:
print(platform.processor())

Intel64 Family 6 Model 154 Stepping 4, GenuineIntel

In [5]:
s = [[5,1],[7,1],[8,1],[10,6],[11,10],[12,4],[13,4],[15,4],[16,2],[17,1],
[18,1],[19,1]]
def nombreEleves (l):
    i= 0
    somme = 0
    while(i<len(l)):
        somme = somme + l[i][1]
        i=i+1
    return somme

In [6]:
nombreEleves(s)

36