###### Important concepts in functions
        Function Parameters
            Multiple Function Paramets
            Default Function Parameters
            Named Arguments
            Arbitary Arguments
            Positional and Keyword Arguments
            Anonymous Functions

Below are different types of functions, have a look and understand the concept easily

In [30]:
#functional Parameters

#variables defined in the functions are parameters
#Values passed inside the function while calling the function are called arguments

In [16]:
#multiple function parameters

def func(name,age):
    return print("Defined name is:",name,"And the age is:",age)

func('kingkong','34')

Defined name is: kingkong And the age is: 34

In [23]:
#default function parameters
def func(name,age=34,color='black'):
    return print("name is:",name,"and his age is:",age,'the color is',color)

func("Kingkong")

    #default assigned valued can be changed(age and color), but note the format

func("kingkong","35")
func("kingkong","45",'Blue')
func("lion")

name is: Kingkong and his age is: 34 the color is black
name is: kingkong and his age is: 35 the color is black
name is: kingkong and his age is: 45 the color is Blue
name is: lion and his age is: 34 the color is black

In [27]:
#named arguments
def func(name,greeting="welcome",hotel="Hotel Taj"):
    return print(name,greeting,"to the",hotel,"\nHave a good time")
func("Rahul")

    #changing the value of the parameter
func("\nRahul",hotel="Hotel Pristine")

    #changing the value in format without using the parameter
func("\nRavi","we are honoured to welcome you")

Rahul welcome to the Hotel Taj
Have a good time

Rahul welcome to the Hotel Pristine
Have a good time

Ravi we are honoured to welcome you to the Hotel Taj
Have a good time

In [32]:
#arbitary arguments: these are the types of functions where number of arguments are passed
def func(*args):
    for i in args:
        print("we are honoured to welcome you Mr.",i)
        
func('rahul','ravi','rohith','sai','aravind','hari','mahender')

we are honoured to welcome you Mr. rahul
we are honoured to welcome you Mr. ravi
we are honoured to welcome you Mr. rohith
we are honoured to welcome you Mr. sai
we are honoured to welcome you Mr. aravind
we are honoured to welcome you Mr. hari
we are honoured to welcome you Mr. mahender

In [39]:
#positional and keyword arguments
def func(*args,**kwargs):
    for i in args:
        print("Args:",i)
    for i in kwargs:
        print(i,"number is:",kwargs[i])
func('rahul','ravi','sai',total='3',male='3')

Args: rahul
Args: ravi
Args: sai
total number is: 3
male number is: 3




Anonymous Function: it is a function without a name but can be used in a point where needed using keyword lambda so they are called
lambda functions

it can have many number of arguments but only one expression

lambda arguments: expressions

In [46]:
#anonymous functions
double=lambda i,j,k:i*j*k
print(double(10,40,50))

20000