In [2]:
#system python version

import sys
print(sys.version)
print(sys.version_info)

3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [11]:
#check present date and time

import datetime
k=datetime.datetime.now()
print(k.strftime("%Y/%M/%D %H:%M:%S"))

2023/56/07/20/23 18:56:41

In [12]:
#area of circle
import math
r=4
area=math.pi*pow(r,2)
print(area)

50.26548245743669

In [3]:
#seperate the values in the lists and tuples
k=input("Enter the values")
l=list(k.split(','))
t=tuple(k.split(','))
print(t)
print(l)

Enter the values1,2,3,4
('1', '2', '3', '4')
['1', '2', '3', '4']

In [8]:
#print the type of file name from file
inp=input("Enter the file with its extension\n")
ex=inp.split('.')
print(ex[-1])

Enter the file with its extension
file.java
java

In [9]:
#programs to display the first and last words in list
k=['king','queen','minister','worker']
print(k[0],k[-1])

king worker

In [11]:
#document syntax
print(abs.__doc__)

Return the absolute value of the argument.

In [23]:
#calendar of given month and year
import calendar
print(calendar.month(2012,4))

     April 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [34]:
#calculate the differnce betwween the dates
import datetime
from_date=date(2013,7,24)
to_date=date(2014,8,24)
diff=to_date-from_date
print(diff.days)

396

In [36]:
#volume of the sphere
import math
r=4
v=4/3*(math.pi*pow(r,3))
print(v)

268.082573106329

In [59]:
#sum of three given numbers
num=(input("Enter the numbers"))
num=num.split()
f=[int(x) for x in num]
print(sum(f))

Enter the numbers1 2 3
6

In [63]:
#add 'is' in front. if there is added, return the same string
string=input("Enter the string\n")
if string.startswith('is'):
    print(string)
else:
    print('is'+string)

Enter the string
king
isking

In [65]:
#string with number of copies
inp=input("Enter the string")
cop=input("Number of copies")
print(int(cop)*inp)

Enter the stringmo
Number of copies3
momomo

In [67]:
#even or odd
num=input("Enter the number")
if int(num)%2==0:
    print("Even")
else:
    print("Odd")

Enter the number3
Odd

In [68]:
#counting the number
k=[1,2,3,4,4,4,4,5,6]
print(k.count(4))

4

In [78]:
#entering the n copies of first two character of string
string=input("Enter the string\n")
n=4
for i in string:
    k=string[:2]
if len(string)<2:
    print(string)
else:
    print(k*n)

Enter the string
KONG NKONG
KOKOKOKO

In [81]:
#vowel or not
k=['a','e','i','o','u']
f=input("Enter the letter")
if f in k:
    print("It is vowel")
else:
    print("It is not vowel")

Enter the lettere
It is vowel

In [84]:
#create histogram from the given list of integers
k=input("Enter the numbers")
values=k.split()
val=[int(x) for x in values]
for i in val:
    print(i*'@')

Enter the numbers2 3 5 1 6 7 2 0
@@
@@@
@@@@@
@
@@@@@@
@@@@@@@
@@

In [95]:
#concating all the elements in the list
l=['king','queen','son','daughter']
l=''.join(l)
print(l)

kingqueensondaughter
<class 'str'>

In [102]:
#return the different colors which are not in list 2 from list 1
list1=set(['white','black','gold','green'])
list2=set(['grey','pink','blue','brown'])
print(list1.difference(list2))
print(list2.difference(list1))

{'white', 'black', 'green', 'gold'}
{'brown', 'grey', 'pink', 'blue'}

In [103]:
#area of the triangle
b=10
h=15
area=0.5*b*h
print(area)

75.0

In [18]:
#various ways of taking input
#take numbers with spaces and place them in list
num=(input("enter the numbers"))
num=(num.split())
m=[int(x) for x in num]
print(m)

enter the numbers12 2 33
[12, 2, 33]

In [1]:
#take numbers as strings in spaces and place them

In [2]:
a=24
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
a='24'
for i in a:
    print(a)

24
24

In [8]:
m='moiz'
for i in m:
    print(m)

moiz
moiz
moiz
moiz

In [9]:
print(m)

moiz

In [10]:
for i in m:
    print(i)

m
o
i
z